/* class selector */
.card {
  background-color: hsl(240, 65%, 64%);
  text-align: center;
  color: rgb(163, 192, 218);
}

.new-cities {
  background-color: hsl(258, 17%, 50%);
  color: wheat;
  text-align: center;
}

.dayContainer {
  flex-basis: 20%;
  background-color: rgb(35, 35, 216);
 /* outline: 1px solid green; */
}

/* id selector */
#five-day-container {
  color: rgb(163, 192, 218);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#weather-icon{
  display: none;
  position: relative;
  left: 46%;
}

@media screen and (max-width: 620px) {
  .dayContainer {
    flex-basis: 100%;
    border: 1px solid #333;
    padding: 3px;
    margin-bottom: 10px;
  }
}

