/* class selector */
.card {
  background-color: #5b5bf8;
  text-align: center;
  color: #faf4a8;
}

.new-cities {
  background-color: #ceceff;
  color: black;
  text-align: center;
  border: 1px solid #919191;
  margin-top: .3rem;
  padding: 5px;
  border-radius: 4px;
}

.dayContainer {
  /* flex-basis: 20%; */
  background-color: #080833;
 /* outline: 1px solid green; */
  border-radius: 4px;
}

.header {
  background-color: #5b5bf8;
  background-image: linear-gradient(315deg, #5b5bf8 0%, #080833 74%);
  color: #faf4a8;
  text-align: center;
}

.btn {
  background-color: #85c6fc;
  margin-top: .2rem;
  border: 1px solid #919191;
}

/* id selector */
#five-day-container {
  color: #faf4a8;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#weather-icon{
  display: none;
  position: relative;
  left: 46%;
}

/* @media screen and (max-width: 420px) {
  .dayContainer {
    flex-basis: 100%;
    border: 1px solid #333;
    padding: 3px;
    margin-bottom: 10px;
  }
} */

